
#page {
	width: 960px;
	height: 1000px;
	margin: 0 auto;
}

.content {
	width: 760px;
	height: 95%;
	float: right;
	background: lightblue;
	margin: 0 auto;
}

.navigation {
	width: 200px;
	height: 95%;
	float: left;
	background: green;
}

.footer {
	height: 5%;
}

